<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <table width="100%">
            <tr>
                <td align="center"><a href="/"><img src="/static/Felipe_3W_TCClogo.png" width="100px" height="100px"></a> </td>
            </tr>
        </table>
        {% block main %}
        {% endblock %}       
</body>

</html>